<!-- navbar.html -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PiggyBank Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if 'user_id' in session %}
                    <!-- User is logged in -->
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            <i class="bi bi-person"></i> Login
                        </a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex ms-auto" method="post" action="{{ url_for('search_goal') }}">
                {{ search_goal_form.hidden_tag() }}
                {{ search_goal_form.goal_id(class="form-control", placeholder="Search Goal ID") }}
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">Search</button>
                </div>
                <!-- <input class="form-control me-2" type="search" placeholder="Search Goal ID" aria-label="Search" name="goal_id" id="goal_id" required>
                <button class="btn btn-outline-success" type="submit">Search</button> -->
            </form>
        </div>
    </div>
</nav>